spring:
  application:
    name: payment-gateway-cip

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI:http://localhost:8443/realms/oauth2-api-gateway}

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer:
        org.apache.kafka.common.serialization.StringSerializer
      value-serializer:
        org.springframework.kafka.support.serializer.JsonSerializer

resilience4j:
  circuitbreaker:
    instances:
      billerBreaker:
        registerHealthIndicator: true
        failureRateThreshold: 50
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        automaticTransitionFromOpenToHalfOpenEnabled: true

  retry:
    instances:
      billerBreaker:
        maxAttempts: 5
        waitDuration: 3s

logging:
  level:
    root: INFO
    # '[org.springframework.security.oauth2]': DEBUG
    # '[org.springframework.security.authentication]': DEBUG

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

external:
  corebank:
    name: corebank
    url: http://core-banking:8081
    path: /api/corebank
  
  biller:
    name: biller
    url: http://biller:8082
    path: /api/biller
